:root{
    --lightColor: #EEF7FC;
    --darkBlue: #1B1F2F;
    --blue: #0C1837;
    --lightBlue: #CEDFFE;
    --primaryRed: #C13434;
    --darkGrey: #2C2726;
    --lightGrey: #3D3A39;
    --lightestGrey:#717070;
}


nav{
    background-color: white;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    top: 0px;
    position: sticky;
    /* position: fixed;
    z-index: 1000; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body{
    background-color: var(--darkBlue);
    width: 100%
}
.Layer_3{
    width: 12%;
    height: auto;
    text-align: center;
}
.logo{
    /* style="display: flex; justify-content: center; align-items: center; padding: 0px 10px ; gap: 7px;" */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    padding-left: 10px;
}
.NHA_TRANG_ONE{
    margin-top: 16px;
    margin-bottom: 16px;
    font-family: 'Squada One';
    font-style: normal;
    font-weight: 400;
    /* font-size: 32px; */
    line-height: 30px;
    /* Dark Blue */
    color: var(--darkBlue);
}
.Nav_Bar_Links{
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: auto;
    overflow: hidden;
    text-align: right;
}
li{
    display: inline-block;
    
}
li a{
    margin:auto;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    float: right;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    color: var(--darkBlue);
}
#order{
    padding: 7px 14px;
}
.Order_Button{
    width: 150px;
    height: 45px;
    text-align: center;
    background: var(--primaryRed);
    color: var(--lightColor);
    cursor: pointer;
    border: 0px;
    border-radius: 2px;
    font-size: 16px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}
/* .Landing_Page_Content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center left, center right;
    padding: 0px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.59), rgba(0, 0, 0, 0.59)), url('nhatrangImg/nha-trang-inside.jfif');
    background-size: cover;
    height: 100vh;
    gap: 44.32px;
} */
.Landing_Page_Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 0px;
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.59), rgba(0, 0, 0, 0.59)), url('nhatrangImg/nha-trang-inside.jfif') center/cover no-repeat; */
    height: 100vh;
    gap: 44.32px;
  }
.Landing_Page_Content .main_logo{
    /* margin-top: 0px; */
    width: 20vw;
    height: auto;
}
.Landing_Page_Content h1{
    /* width: 60vw; */
    height: 114.56px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 600;
    font-size: 52.441px;
    line-height: 104%;
    /* or 55px */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.035em;
    text-transform: capitalize;
    /* Light */
    color: var(--lightColor);
    margin-top: 0;
    margin-bottom: 0;
}

.Menu_Landing_Page .Landing_Page_Content h1{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 150px;
    text-transform: uppercase;
}
.Landing_Page_Content button{
    width: 12vw;
    height: 65px;
    text-align: center;
    background-color: var(--primaryRed);
    color: var(--lightColor);
    cursor: pointer;
    border: 0px;
    border-radius: 2px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 100%;
    /* or 30px */
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}



.Popular_Dishes_Content{
    /* display: grid;
    place-items: center; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 70px;
    gap: 10px;
}
.Popular_Dishes_Content h1{
    margin-bottom: 25px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    margin-top: 30px;
    font-weight: 700;
    font-size: 4rem;
    line-height: 96px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--lightColor); 
}

.Popular_Dishes_Content h2{
    /* Pop Dishes Food Header */

    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 90%;
    /* identical to box height, or 26px */

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    /* Nav Bar */
    color: var(--lightGrey);
}

/* Entire Dishes Container */
.Popular_Dishes_Content .dishes{
    margin-top: 40px;
}

/* Individual Dish Containter*/
.Popular_Dishes_Content .dish{
    width: 350px;
    height: 200px;
    padding: 10px 10px;
    background-color: var(--lightColor);
    display: flex;
    flex-direction: row;
    order: 1;
    flex-grow: 0;
}

/* Dish Container Description */
.Popular_Dishes_Content .description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 220px;
    height: 229.97px; */
    left: 0px;
    top: 0px;
    border-radius: 4.53609px;
}
.Popular_Dishes_Content p{
    padding-top: 2.5px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 100%;
    /* or 20px */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0%;
}
.Popular_Dishes_Content img{
    object-fit: cover;
    height: 160px;
    width: 140px;
    border-radius: 2.72165px;
    align-self: center;
}
.Popular_Dishes_Content button{
    margin-bottom: 40px;
    width: 250px;
    height: 60px;
    text-align: center;
    background-color: var(--primaryRed);
    color: var(--lightColor);
    cursor: pointer;
    border: 0px;
    border-radius: 2px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    /* or 30px */
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.Instagram{
    background-color: var(--lightColor);
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
    padding-top: 15px;
    padding-bottom: 20px;

}
.Instagram_Handle{
    display: flex; 
    justify-content: center; 
    align-items: center;
    padding-bottom: 10px;
}
.Instagram a{
    text-decoration: none;
}
.handle{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.Instagram_Handle li{
    display: inline-block;
}
.Instagram_Handle p{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 2vw;
    margin: 0;
    /* text-transform: lowercase; */
    color: var(--darkBlue);
}
.Instagram .photos, .Popular_Dishes_Content .dishes{
    display: grid;
    place-items: center;
    padding: 0px 5px;
    gap: 20px 20px;
}
.photos img{
    width: 325px;
    height: auto;
}



.Location{
    color: var(--lightColor);
    font-family: 'Roboto Slab';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.Location .description{
    width: 100%;

}

.Location h1{
    padding-top: 50px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 111px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 0;
}


.Location h2{

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 22.5px;
    line-height: 150%;
    text-align: center;
    text-decoration-line: underline;
    text-transform: capitalize;
}

.Location h3{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    text-transform: capitalize;
}

.Location p{
    font-size: 18px;
    margin: 20px;
}
/* boot strap */

.Location button{
    width: 183.38px;
    height: 44.35px;
    text-align: center;
    background-color: var(--primaryRed);
    color: var(--lightColor);
    cursor: pointer;
    border: 0px;
    border-radius: 2px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    /* or 30px */
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.directions{
    margin: 5px;
}
.Location #map{
    position: relative;
    width: 800px;
    margin-top: 20px;
    height: 40vh;
}
/* ABOUTTTTTTTTTTTTTTTT */
.about{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 100px;
    color: #EEF7FC;
    font-family: 'Oswald', sans-serif;
}
.about p, .about img{
    width: 40vw;
}
.about img{
    height: 750px;
    width: auto;
}
.about p{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background:
      linear-gradient(to right, #EEF7FC 1px, transparent 2px) 0 0,
      linear-gradient(to right, #EEF7FC 1px, transparent 2px) 0 100%,
      linear-gradient(to left, #EEF7FC 1px, transparent 2px) 100% 0,
      linear-gradient(to left, #EEF7FC 1px, transparent 2px) 100% 100%,
      linear-gradient(to bottom, #EEF7FC 1px, transparent 2px) 0 0,
      linear-gradient(to bottom, #EEF7FC 1px, transparent 2px) 100% 0,
      linear-gradient(to top, #EEF7FC 1px, transparent 2px) 0 100%,
      linear-gradient(to top, #EEF7FC 1px, transparent 2px) 100% 100%;
    
    background-repeat: no-repeat;
    background-size: 20px 20px;
}



/* MENUUUUUUUUUUUUUUUUUUU */
.top-button{
    position: fixed;
    bottom: 2rem;
    right: 2.5rem;
}
.top-button img{
    width: 100px;

}
.menu-buttons{
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 115%;
    text-transform: uppercase;
    letter-spacing: 0.075em;

    color: var(--lightColor);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 20px;
}
.hide{
    display: none;
}
.menu-nav{ 
    background-color: var(--darkBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 70px;
}
.menu-buttons a{
    text-decoration: none;
    color: #ACACAC;
    background-color: var(--darkGrey);
    width: 170px;
    height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-shadow: 2px 2px;
    cursor: pointer;
}

/*hover style*/
.menu-buttons a:hover{
    background-color: var(--lightestGrey);
}

.select{
    background-color: var(--primaryRed)!important;
    color: white!important;
}
.drinks-content{
    display: none;
}
.food-content > :first-child, .drinks-content > :first-child{
    padding-top: 35px;
}
.food-section {/* inside menu style */
    background-color: var(--lightColor);
    padding-inline: 60px;
    padding-top: 20px;         /* PADDING OF THE INSIDE MENU */
    padding-bottom: 20px;
    font-family: 'Oswald', sans-serif;
} 
.food-section, .food-content h1, .drinks-content h1{ /* margin of menu content */
    margin: 0px 300px;
}
.food-item{ /* container of menu-item */
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 35px 5px 35px;
}
.food{ /* left portion of the menu-item */
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.alt{ 
    background-color: var(--lightBlue);
}
.food-content h1, .drinks-content h1{ /* HEADERS OF THE MENU */
    background-color: var(--lightColor);
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    padding-top: 25px;
    padding-left: 50px;
    text-decoration: underline;
}
.food-section h2{ /* menu sub-sections */
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
}
.food-item h3{ /* menu-item NAME */
    text-transform: uppercase;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
    margin-bottom: 0;
}
.food-item p{ /* menu-item DESCRIPTION */
    font-weight: 300;
    text-transform: lowercase;
    margin-bottom: 10px;
    font-size: 20px;
}
.food-item h2{ /* MENU-ITEM PRICE */
    font-weight: 500;
    font-size: 42.5px;
}


footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer ul{
    margin-bottom: 0;
}


/* mobile responsiveness */
#toggle{
    position: absolute;
    top: 20px;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
@media only screen and (min-width: 1170px) {
    #toggle{
        display: none;
    }
    .dropdown{
        display: none;
    }
}
@media only screen and (max-width: 1170px) { /* START OF WHEN NAV BAR WRAPS */
    #toggle{
        display: flex;
    }
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* height: 100px; */
        width: 100vw;
        padding-top: 20px;
    }
    nav h1{
        font-size: 32px;
    }
    #toggle{
        position: absolute;
        top: 30px;
        right: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 40px;
        height: 35px;
    }
    #toggle .bar{
        transition: all 0.3s;
        float: left;
        height: 4px;
        width: 100%;
        background-color: black;
        border-radius: 10px;
    }
    .Nav_Bar_Links{
        display: flex;
        height: 0px;
        padding-top: 0px;
        width: 100vw;
        background-color: var(--lightColor);
        /* padding-bottom: 50px; */
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
        transition: height .3s ease-out;
    }
    .Nav_Bar_Links.active {
        display: flex;
        height: 90vh;
        padding-top: 0px;
        /* padding-bottom: 50px; */
        justify-content: center;
        gap: 50px;
        transition: height .3s ease-out;
    }
    /* create the X for the bars */
    .bar:nth-of-type(1).active {
        transition: all 0.3s;
        transform: rotate(135deg);
        translate: 0px 20px;
      }
      
      .bar:nth-of-type(2).active {
        transition: 0.1s;
        /* translate: 0px 10px; */
        opacity: 0;
        box-sizing: border-box;
      }
      
      .bar:nth-of-type(3).active {
        transition: all 0.3s;
        transform: rotate(-135deg);
        translate: 0px -10px;
      }
    .Nav_Bar_Links li{
        padding-bottom: 20px;
    }
    .Nav_Bar_Links li a{
        font-size: 45px;
    }
    .Nav_Bar_Links li a button{
        height: 90px;
        width: 300px;
        font-size: 36px;
        border-radius: 20px;
    }

    .Landing_Page_Content h1{
        font-size: 30px;
        justify-content: center;
    }
    .Landing_Page_Content .main_logo{
        width: 50vw;
    }
    .Landing_Page_Content button{
        width: 50vw;
    }

    .Popular_Dishes_Content h1{
        font-size: 1.75rem;
    }
    .Instagram_Handle p{
        font-size: 1.75rem;
    }
    .Location h1 {
        font-size: 38px;
        font-weight: 700;
    }
    .Location h2, .Location p {
        font-size: 18px;
    }
    .about{
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 15px;
        color: #EEF7FC;
    }
    .about p, .about img{
        width: 90vw;
    }
    .about img{
        height: 600px;
        width: auto;
    }
    
}
@media (min-width: 300px) and (max-width: 1000px) {
    .dishes { grid-template-columns: repeat(2, 1fr); }
    .Popular_Dishes_Content .dish{
        height: 260px;
        padding-inline: 10px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 43vw;
    }
    .dish img{
        width: 30vw;
        height: 125px;
        margin-bottom: 10px;
        object-fit: cover;
    }
    .photos { grid-template-columns: repeat(2, 1fr); }
    .photos img{
        width: 45vw;
    }
    .top-button{
        right: 1rem;
    }
    .food-content h1, .drinks-content h1{ /* SECTION HEADERS OF THE MENU */
        font-size: 40px;
    }
    .food-section h2{ /* SUBSECTION HEADERS OF THE MENU */
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 900;
    }
    .food-item h3{ /* NAME OF THE FOOD ITEM */
        text-transform: uppercase;
        font-weight: 700;
        font-style: normal;
        font-size: 25px;
        margin-bottom: 0;
    }
    .food-item p{ /* DESCRIPTION OF THE FOOD ITEM */
        font-weight: 300;
        font-size: 18px;
        text-transform: capitalize;
        margin-bottom: 1.5px;
    }
    .food-item h2{ /* PRICE OF THE FOOD ITEM */
        font-weight: 500;
        font-size: 40px;
    }
    .menu-buttons a{
        width: 120px;
    }
    .food-section, .food-content h1, .drinks-content h1{ /* margin of menu content */
        margin: 0px 20px;
    }
    .menu-nav{ 
        position: static; 
    }
    .food-section{  /* PADDING OF THE PARENT CONTAINER */
        padding-inline: 10px;
    }
}

 /*IPADDD */
@media (min-width: 1000px) and (max-width: 1400px) {
    .Nav_Bar_Links.active{
        height: 95vh;
    }
    nav h1{
        font-size: 42px;
    }
    .Layer_3{
        width: 50px;
    }
    .dropdown{
        top: 112px;
    }
    .description h2{
        font-size: 35px;
    }
    .description p{
        font-size: 25px;
    }
    .dishes {
        grid-template-columns: repeat(2, 1fr);
    }
    .photos {
        grid-template-columns: repeat(2, 1fr);
    }
    .photos img{
        width: 40vw;
    }
    .Landing_Page_Content h1{
        font-size: 60px;
        margin-top: 15px;
        margin-bottom: 15px;
        /* justify-content: center; */
    }
    .Landing_Page_Content button{
        height: 100px;
        font-size: 45px;
    }
    .Nav_Bar_Links.active{
        gap: 135px;
    }
    .active li a{
        font-size: 70px;
    }
    .active li a button{
        height: 120px;
        width: 400px;
        font-size: 40px;
        border-radius: 20px;
    }
    /* .active li{
        padding-bottom: 20px;
    } */
    .Popular_Dishes_Content h1{
        font-size: 3rem;
    }
    .Instagram_Handle p{
        font-size: 40px;
    }
    .Location h1 {
        font-size: 4rem;
        font-weight: 700;
    }
    .Location h2, .Location p {
        font-size: 2.25rem;
    }
    .menu-nav{
        top: 85px;
    }   
    
}
@media (min-width: 1400px) {
  .dishes {
    grid-template-columns: repeat(3, 1fr);
    }
  .photos {
    grid-template-columns: repeat(3, 1fr);
    }
}
/* change width of items 
    fonts with 